{% extends "base.html" %}

{% block title %}Midterm Report{% endblock %}

{% block main %}

<div class="container" style="margin-top:150px;">
<div class="card text-center">
  <div class="card-header">
    Midterm Report
  </div>
  <div class="card-body">
    <h5 class="card-title">Image Detection</h5>
    <p class="card-text">Image Recognition using ResNet and storing Result to Mongodb</p>
    <a href="/img-detection" class="btn btn-primary">Go</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Database:Mongodb</h5>
    <p class="card-text">Retrieving Result and Picuture from Mongodb</p>
    <a href="/mongodata" class="btn btn-primary">Go</a>
  </div>
  <div class="card-footer text-muted">
    Number:14 Name:王廣宇
  </div>
</div>
</div>

{% endblock %}